@{
   ViewBag.Title = "Index";
}


<div class="jumbotron">
    <h1>Home</h1>
    <p class="lead">Welcome to Agape Individual Management and Contact Portal.</p>
</div>

<div class="row">
    <p>
        Please use the above navigation bar to view Individuals and Groups.
    </p>
</div>


